{{ define "notes/index.html"}}
    {{ template "layouts/header.html" .}}
        <h1> All Notes </h1>
        <div class="row row-cols-1 row-cols-md-6 g-4">
            {{ with .notes }}
                {{ range . }}
                <div class="col">
                    <div class="card h-200">
                        <h5 class="cart-title">{{ .Name }}</h5>
                        <p class="card-text">{{ .Content }}</p>
                        <a href="/notes/{{.ID}}" class="btn btn-outline-primary" role="button">View</a>
                    </div>
                </div>
                {{ end }}
            {{ end }}
        </div>
        <p class="p-4">
            <a href="/notes/new" class="btn btn-outline-primary">New note</a>
        </p>
    {{ template "layouts/footer.html" .}}
{{end}}